::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* background-color: #d6dee1; */
  background-color: #2d2d2d;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: #a8bbbf; */
  background-color: #4d4d4d;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  /* background-color: #2d2d2d; */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
  /* background-color: #4d4d4d; */
}